@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.header{
    @include mixins.flexBox;
    padding: 1.24rem;
    position: relative;

    &__search{
        border: none;
        font-size: 100%;
        @include mixins.flexBox;
        
        &--input{
            width: 100%;
            border: none;
            font-size: 100%;
            padding: 0.6rem 2rem;
            border-radius: 2rem;
            background: rgba(map-get(variables.$baseVars, "red"), 0.4);
            color: rgba(map-get(variables.$baseVars, "red"), 0.8);

            &::placeholder{
                color: rgba(map-get(variables.$baseVars, "red"), 0.4);
                font-size: 100%;
            }

            &:focus{
                outline: none;
                background: map-get(variables.$baseVars, "color");
                color: map-get(variables.$baseVars, "background");
            }
        }
    }

    &__results{
        background: map-get(variables.$baseVars, "color");
        position: absolute;
        top: 5rem;
        list-style: none;
        left: 41%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        z-index: 100;
        width: 28rem;
        max-height: 25rem;
        overflow: hidden;
        overflow-y: unset;

        &::-webkit-scrollbar{
            display: none;
        }

        &--item{
            @include mixins.flexBox;
            width: 100%;
            
            &-button{
                background: none;
                border: none;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: start;
                align-items: start;
                gap: 1rem;
                font-size: 90%;
                padding: 1rem;
                text-align: start;
                
                &:focus{
                    outline: none;
                }

                &:hover{
                    cursor: pointer;
                    background: rgba(map-get(variables.$baseVars, "red"), 0.4);
                }
            }

            &-image{
                height: 6rem;
                min-width: 4.5rem;
                max-width: 4.5rem;
                object-fit: cover;
                border-radius: 0.1rem;
            }

            &-placeholder{
                height: 6rem;
                min-width: 4.5rem;
                max-width: 4.5rem;
                border-radius: 0.1rem;
                background: map-get(variables.$baseVars, "red");
            }

            &-wrapper{
                padding: 1rem 0;
            }
        }
    }
}