@use "../../abstracts/variables";
@use "../../abstracts/mixins";
@use "../../abstracts/animations";

.images{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    height: 25%;
    width: 100%;
    padding: 1rem 0;
    overflow: hidden;
    overflow-x: unset;

    &::-webkit-scrollbar{
        background: rgba(map-get(variables.$baseVars, "red"), 0.4);
        border-radius: 1rem;
        height: 0.8rem;

        &-thumb{
            background: map-get(variables.$baseVars, "red");
            border-radius: 1rem;
        }
    }
    &__item{
        height: 100%;
        width: 100%;
        object-fit: cover;

        &--loading{
            background: rgba(map-get(variables.$baseVars, "red"), 0.4);
            height: 100%;
            min-width: 25%;
            border-radius: 0.2rem;
            position: relative;
            overflow: hidden;

            &::after{
                @include mixins.afterAnimation;
                @include animations.loading;
            }
        }
    }
}