@use "../../abstracts/variables";
@use "../../abstracts/mixins";
@use "../../abstracts/animations";

.cast{
    width: 30rem;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    background: rgba(map-get(variables.$baseVars, "red"), 0.3);
    padding: 2rem 1rem;
    border-radius: 1rem;
    
    &__heading{
        font-weight: 800;
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        font-size: 110%;
        font-family: map-get(variables.$fontVars, "accent");
    }
    &__list{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1rem;
        list-style: none;
        overflow: hidden;
        overflow-y: unset;
        background: rgba(map-get(variables.$baseVars, "red"), 0.3);
        width: 100%;
        padding: 0.4rem;
        border-radius: 0.4rem;
        border: 0.1rem solid rgba(map-get(variables.$baseVars, "red"), 0.3);

        &::-webkit-scrollbar{
            display: none;
        }
    }

    &__item{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;

        &--image{
            width: 4.5rem;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 0.2rem;

            &-loading{
                width: 4.5rem;
                aspect-ratio: 1/1;
                background: rgba(map-get(variables.$baseVars, "red"), 0.4);
                border-radius: 0.2rem;
                position: relative;
                overflow: hidden;

                &::after{
                    @include mixins.afterAnimation;
                    @include animations.loading;
                }
            }
        }

        &--placeholder{
            width: 4.5rem;
            aspect-ratio: 1/1;
            background: rgba(map-get(variables.$baseVars, "red"), 0.4);
            border-radius: 0.2rem;
        }

        &--wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            font-size: 80%;
        }

        &--name{
            &-loading{
                background: rgba(map-get(variables.$baseVars, "red"), 0.4);
                width: 20rem;
                border-radius: 0.2rem;
                height: 2rem;
                position: relative;
                overflow: hidden;

                &::after{
                    content: "";
                    height: 100%;
                    position: absolute;
                    box-shadow: -2rem 0 1rem 0rem rgba(map-get(variables.$baseVars, "red"), 0.4);
                    width: 1rem;
                    @include animations.loading;
                }
            }
        }

        &--character{
            color: map-get(variables.$baseVars, "accent");
            font-size: 90%;
            &-loading{
                background: rgba(map-get(variables.$baseVars, "red"), 0.4);
                width: 15rem;
                border-radius: 0.2rem;
                margin-top: 0.2rem;
                height: 2rem;
                position: relative;
                overflow: hidden;

                &::after{
                    @include mixins.afterAnimation;
                    @include animations.loading;
                }
            }
        }
    }
}